* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.main_section {
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}

.header  {
  grid-area: header;
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;

}

.main_section {
  border-top: 1px black solid;
  padding-left: 10px;
}

.sidebar {
  border-right: 5px black solid;
  padding-left: 25px;
  padding-right: 25px;
}

.folder_list {
  padding: 0;
  vertical-align: center;
}

.folder_list > li {
  list-style: none;
  border: 1px black solid;
  
  text-align: center;
  vertical-align: middle;
}

.sidebar_list {
  margin: 137px 0 0;
  padding: 0;
}

.noteItem {
  list-style: none;
  border: 1px black solid;
  padding: 10px;
}

.noteItem > li > h2 {
  margin-top: 0;
}

.note_list {
  padding-right: 5%
}

.selected {
  background: green;
}