* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-grow: 1;
}

.main_section {
  flex-grow: 3;
}

.App > header  {
  margin-left: auto;
  margin-right: auto;
}

.sidebar, .main_section {
  border-top: 1px black solid;
}

.folder_list {
  padding: 0;
  vertical-align: center;
}

.folder_list > li {
  list-style: none;
  border: 1px black solid;
  
  text-align: center;
  vertical-align: middle;
}

.sidebar_list {
  padding-left: 5%;
}

.noteItem {
  list-style: none;
  border: 1px black solid;
  padding: 10px;
}

.noteItem > li > h2 {
  margin-top: 0;
}

.note_list {
  padding-right: 5%
}

.selected {
  background: green;
}